body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .apod {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  h2 {
    margin-top: 10px;
  }
  
  p {
    margin-top: 5px;
  }
  
  /* Styling for the search section */
  .search {
    margin-top: 20px;
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 5px;
    margin: 5px;
    width: 150px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Dark Mode Styles */
  body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
  }
  
  .container.dark-mode {
    background-color: #444;
  }
  
  .apod.dark-mode {
    background-color: #444;
  }
  
  button.dark-mode {
    background-color: #0056b3;
  }
  
  button.dark-mode:hover {
    background-color: #007BFF;
  }
  
  
  